.container {
  background: #dff7e8;
  min-height: 100vh;
  padding: 40px 30px;
  font-family: "Poppins", Arial, sans-serif;
}

.backBtn {
  background: #03695b;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  transition: 0.2s ease;
}

.backBtn:hover {
  background: #1B876C;
}

.title {
  font-size: 32px;
  margin-bottom: 28px;
  color: #024e45;
  font-weight: 700;
}

.newBtn {
  padding: 13px 22px;
  background: #004940;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  transition: 0.25s ease;
  flex: 0 0 auto;
  margin-left: auto;
}

.newBtn:hover {
  background: #1B876C;
}


.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  animation: fadeBg 0.25s ease forwards;
}

@keyframes fadeBg {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modalBox {
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
  width: 520px;
  max-width: 95%; /* responsivo */
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideIn 0.18s ease forwards;
}

.modalScroll {
  padding: 28px;
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(-12px) scale(0.97); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

.modalTitle {
  font-size: 24px;
  font-weight: 700;
  color: #024e45;
  margin-bottom: 10px;
}
.modalSubtitle {
  font-size: 18px;
  font-weight: 600;
  color: #024e45;
  margin-bottom: 10px;
}
