.cardOption {
  width: 200px;
  height: 220px;

  background: #ffffff;
  border: 2px solid #787a7c;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;

  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
}

.cardOption:hover {
  transform: translateY(-6px);
  border-color: #1B876C;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.18);
  background-color: #1B876C;
}

.cardOption:active {
  transform: scale(0.97);
}

.cardImage {
  width: 96px;
  height: 96px;
  object-fit: contain;
  margin-bottom: 16px;
  color: #004940;
}

.cardTitle {
  font-size: 1.3rem;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  color: #004940;
  text-align: center;
}
.cardOption:hover .cardTitle {
  color: #ffffff;
}
.cardOption:hover .cardImage{
  color: #ffffff;
}
